<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordes</title>
    <style>
        h1{
            border: 5px red solid;
        }
        h2{
            border: 4px dotted  blue;
        }
        div{
            border: double;
        }
        .a{
            border-bottom: 5px solid red;
            
        }
        .b{
            border: 5px solid blue;
            border-radius: 50px;
            border-top-style: dashed;
        }
    </style>
</head>
<body>
    <h1>Borde color rojo</h1>
    <h2>Borde punteado color azul</h2>
    <div>Borde doble</div>

    <p class="a">Algun texto</p>
    <p class="b">Algun texto</p>
</body>
</html>