<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medidas</title>
    <style>
        div{
            height: 200px;
            width: 50%;
            background-color: red;
        }
        h2.a{
            visibility: visible;
        }
        h2.b{
            visibility: hidden;
        }
        h2.c{
            display: none;
        }
        .x{
            font-style: oblique;
        }
    </style>
</head>
<body>
    <h2>Declarar la altura y ancho de un elemento</h2>
    <p>Este div tiene una altura de 200px y un ancho del 50%</p>

    <div></div>

    <!-- Visibilidad -->

    <h2 class="a">Este texto es visible</h2>
    <h2 class="b">Este texto no es visible</h2>
    <h2 class="c">Este texto no es visible y no ocupa espacio</h2>
    <p>Nota: los elementos ocultos siguen en el espacio de la pagina a diferencia de display none</p>

    <!-- Estilo de fuente -->

    <p class="x"><u> Algún</u><strong> texto</strong></p>
</body>
</html>