<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector pseudo-clase</title>
    <link rel="stylesheet" href="../../public/css/pseudo_clase.css">
</head>
<body>
    <b><a href="http://www.web.valles.udg.mx/" target="_blank">CU Valles</a></b>
    <br>
    <b><a href="http://google.com">Google</a></b>
    <br>

    <h1>Selector de Pseudo-Elementos</h1>
    <p>Letra capital y la primer linea de color azul <br> Esta linea ya no se va pintar de color azul</p>

    <p></p>
</body>
</html>